<h1 class="px-2.5 h-12 py-3 rounded-lg text-3xl font-bold underline">
  Hello world!
</h1>

<form [formGroup]="userForm" (ngSubmit)="onSubmit()" class="mx-10 space-y-4">
  <div>
    <app-label fieldId="name">Name</app-label>
    <app-input
      formControlName="name"
      fieldId="name"
      type="text"
      placeholder="Enter your name"
    />
  </div>

  <div>
    <app-label fieldId="email">Email</app-label>
    <app-input
      formControlName="email"
      fieldId="email"
      type="email"
      value="ddd"
      placeholder="Enter your email"
    />
  </div>

  <div>
    <app-label fieldId="password">Password</app-label>
    <app-input
      formControlName="password"
      fieldId="password"
      type="password"
      placeholder="Enter your password"
    />
  </div>

  <div class="">
    <app-label fieldId="Gender">Gender</app-label>
    <div class="flex items-center gap-2">
      <app-input
        formControlName="gender"
        fieldId="male"
        type="radio"
        name="gender"
        value="male"
      />
      <app-label fieldId="male">Male</app-label>
    </div>
    <div class="flex items-center gap-2">
      <app-input
        formControlName="gender"
        fieldId="female"
        type="radio"
        name="gender"
        value="female"
      />
      <app-label fieldId="female">Female</app-label>
    </div>
    <div class="flex items-center gap-2">
      <app-input
        formControlName="gender"
        fieldId="other"
        type="radio"
        name="gender"
        value="other"
      />
      <app-label fieldId="other">Other</app-label>
    </div>
  </div>

  <div class="flex items-center gap-2">
    <app-input
      formControlName="terms_condition"
      fieldId="checkbox"
      type="checkbox"
    />
    <app-label fieldId="checkbox"
      >I’ve read
      <app-button btnClass="" variant="link" routerLink="/home"
        >terms and conditions</app-button
      ></app-label
    >
  </div>
  <app-button btnClass="w-full" type="submit" size="xl" variant="primary">
    Submit
  </app-button>
</form>

<router-outlet></router-outlet>
